body {
    background: #fefefe;
    margin: 0;
    padding: 0;
    font: 16px/24px Arial, Tahoma, "Trebuchet MS", sans-serif;
    color: #3d3d3d;
}

.main {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

img {
    border: none;
    background: #f3f3f3;
    padding: 9px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-size: 28px;
    font-weight: 400;
}

h1 {
    color: #2794ce;
}

h2 {
    font-size: 24px;
    color: #e641ba;
}

h3 {
    font-size: 20px;
    padding: 40px 0;
    margin: 40px 0 0;
    border-top: 1px dashed #777;
}

div.dogs img {
    width: 170px;
    height: auto;
}
